# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Misc
coverage/
.vercel
